.header {
    padding-top: 30px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn {
    margin-right: 30px;
}

.ts_btn {
    background-color: #3498DB!important;
    border-radius: 30px!important;
    
}

.search_btn {
    padding: 20px 30px!important;
}

.ts_btn:hover {
    background-color: #387EAC!important;
    transform:scale(0.9, 0.9);
    transition: 0.5s;
}

.hero {
    background-image: url('../assets/img/ts_hero.jpg');
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.hero_content{
    padding: 20% 0 20% 0;
}

.hero_heading {
    font-size: 46px;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

.hero_subheading {
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

.hero_search{
    
    margin-right: 20px;
    border-radius: 30px !important;
}

.hero_search:focus {
    background: white!important;
}

.ts_categories{
    margin-top: 50px;
    background-image: url('../assets/img/cat_heading.png');
    background-repeat: no-repeat;
    background-size: 600px;
}

.ts_categories h2{
    font-size: 36px;
    font-weight: 800;
    padding-top: 2%
}

.ts_categories_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    margin-top: 50px;
}

.ts_option{
    width: 170px;
    height: 350px;
    margin: 10px;
    transform:scale(1, 1);
    transition: 0.5s;
}

.ts_option:hover {
    transform:scale(0.9, 0.9);
    transition: 0.5s;
}

.ts_option h3 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.ts_categories_options img {
    height: 289px;
    border-radius: 100px;
}

.top_shots {
    margin-top: 50px;
}

.top_shots h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.top_shots_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.ts_footer {
    margin-top: 80px;
}


.brand{
    max-width: 50%;
}


.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0
}

.header_divider {
    border-color: rgba(0, 0, 0, 0.2)!important;
    margin-top: 20px;
}